/*This file is for my own personal styling for the website*/

/* In case you want to do some cool parallax stuff https://www.superhi.com/video/hooking-up-page-scrolling-with-fading-with-javascript*/
/* Replace all vw's and vh's with %'s */

/* General */

@import "../assets/youngserif/fontface.css";

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

h1 {
	font-family: 'youngserifregular', 'proxima_nova_rgregular', Helvetica, Arial;
}

h2 {
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}


h3 {
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

p {
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

body {
  opacity: 1;
  transition: 1.5s opacity;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
  transition: .1s;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

html {
  max-height: 100vh; /* keep */
  max-width: 100vw; /* keep */
  background-color: #121212;
}

section {
  width: 100vw; /* keep */
  height: 100vh;
  display: flex;
  margin: auto;
}

@media screen and (max-height: 700px) {
  section {
    height: 700px;
  }
}

@media screen and (max-width: 375px) {
  section {
    width: 375px;
  }
}


a {
  font-family: "proxima_nova_rgregular", Lato;
  text-decoration: none;
}

.title {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Navigation Bar */

.logo {
  position: fixed;
  float: left;
  padding: 16px 36px;
  color: #fff;
}


.socialmedia {
  position: fixed;
  float: right;
  right: 0px;
  padding: 10px 36px;
  top: 1em;
  color: #fff;
}

.imgLogo {
  height: 40px;
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 1s;
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  margin: 0;
}

nav.black {
  background: rgba(0, 0, 0, 0.90);
}

nav.black ul li a:hover {
  text-decoration: none;
  color: #785EF0;
  font-weight: 550;
}

nav ul li {
  display: inline-block;
  padding: 25px;
}

nav ul li a, nav ul li a:active, nav ul li a:visited, nav ul li a:focus {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: none;
  color: #785EF0;
  font-weight: 550;
}

.menu {
  font-size: 20px;
  color: #fff;
}

.fa-2x {
  color: #fff;
}

a.black:hover i:hover {
  color: #785EF0;
}

a:hover i:hover {
  color: #785EF0;
}

.socialmedia a {
  margin: 7px;
  text-align: center;
  text-decoration: none;
}

.menu-icon {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}


@media(max-width: 1085px) {
  .logo {
    position: fixed;
    top: 0;
    padding: 8px;
  }

  .socialmedia {
    position: fixed;
    float: right;
    left: 2.5em;
    top: .75em;
    right: auto;
    color: #fff;
    padding: 8px;
  }

  nav ul {
    max-height: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: 1s;
  }

  .showing {
    max-height: 40em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

/* Focus on Home Section */

.home {
  background-color: #121212;
}

.arrow {
  text-align: center;
  font-size: 3vh;
  color: white;
}

.scrollDown h2 {
  font-size: 3vh;
  margin-bottom: 2%;
  color: white;
}

@media(max-width: 800px) {
  .scrollDown h2 {
    margin-bottom: 6%;
  }
}

.landing {
  width: 100%;
  height: 100%;
  position: relative;
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 20%;
  /* background-image: linear-gradient(top, rgba(0,0,0,1), rgba(255,255,255,0)); */
}

#scroll {
  bottom: 20px;
  position: absolute;
  width: 100%;
}

#name2 {
  width: 100%;
  position: absolute;
  opacity: 100%;
  top: 30vh;
  color: white;
  font-size: 15vw;
}

.home svg {
  top: -50%;
}

/* About Section */

.about {
  background-position: center top;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100vw;
  align-items: center;
  background-color :#121212;
}

.aboutPage {
  margin: 50px auto 1vw auto;
  align-items: center;
}

.aboutPage .container {
  /* width: calc(85% - 1.25em); */
  width: calc(85% - 1.25em);
}

.about-highlight {
  color: white;
  background-color: #785EF0;
  font-weight: bold;
}

.selfportrait {
  width: 100%;
  height: auto;
  left: 0;
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: left;
  margin-top: 10px;
  filter: grayscale(100%);
  transition: all 1.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.selfportrait:hover {
  filter: grayscale(0%);
}


.aboutPage h1 {
  color: white;
  font-size: calc(15px + 1vh);
  text-align: left;
}

/* .aboutPage h2 {
  font-size: calc(15px + 2vw);
  color: white;
  text-align: left;

} */

.aboutPage p {
  font-size: calc(10px + 0.75vh);
  color: white;
  text-align: left;
}

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

strong {
  font-weight: 600;
  color: #785EF0;
}

.btn {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  padding: 10px 15px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: calc(15px);
  letter-spacing: 3px;
  color: #fff;
}

.teaching {
  margin-left: 0px;
}

@media(min-width: 432px) {
  .teaching {
    margin-left: 5px;
  }
}

@media(max-width: 768px) {
  .top {
    display: none;
  }
}

.btn:visited {
  color: #fff;
}

.btn:hover {
  color: white;
  background-color: #785EF0;
}


/* Experience Section */

#experienceSection {
  background-color :#121212;
  position: relative;
  height: 100%;
  padding-top: 0vh;
  padding-bottom: 0;
  overflow: visible;
}

.timeline-img {
  width: 25%;
  float:left;
  margin: 0 20px 0 0 !important;
}


/* Refer to timeline.css for more info */

/* Portfolio Section */

#portfolioSection {
  background-color: #121212;
  position: relative;
  height: 50%;
  overflow: visible;
}

/* Center website */
.main {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 50px;
}

#portfolioSection .row {
  margin: 50px auto 1vw auto;
  width: calc(85% - 1.25em);
}

/* Add padding BETWEEN each column (if you want) */
#portfolioSection .row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
#portfolioSection .column {
  float: left;
  width: calc(100%/3);
}

.portfolio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.after {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform .5s, filter .5s ease-in-out;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: all 1s;
}

.after a {
  font-size: 100%;
  font-weight: bold;
}

.after .btn {
  margin: 0;
  padding: 8px;
}

.after {
  width: 101%;
}

.after h2 {
  font-size: 1.25em;
  font-weight: bold;
  z-index: 99;
  margin: auto;
  color: rgba(255, 255, 255,0.9);
  background-color: #121212;
  white-space: break-spaces;
  padding: 2px 0;
}

.after p {
  font-size: 1vw;
  color: rgba(48, 62, 74,1);
}

.after.special p {
  font-size: .95vw;
}

/* Clear floats after rows */
#portfolioSection .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  position: relative;
  overflow: hidden;
  height: 15vw;
}

.content img {
  transition: transform 1.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.content:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.content:hover .after {
  opacity: 0;
  transition: all 1.5s;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen 
and (max-device-width : 1024px)  {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }

}

@media only screen 
and (max-width : 600px)  {
  .content img {
    max-width: auto;
    min-height: 60vw;
    height: auto;
    width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  #portfolioSection .column {
    width: 50%;
  }

  .content img {
    max-width: auto;
    width: 100%;
  }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #portfolioSection .column {
    width: 100%;
  }

  .content {
    height: auto;
  }

  .content img {
    height: 100%;
  }
}

/* Education Section */

#educationSection {
  background-color: #121212;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 75%;
}

.overlay {
  height: 100%;
  margin: auto;
  width: calc(85% - 1.25em);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Float two columns side by side */
.edu.column {
  flex: 1;
  float: left;
  padding: 5px;
}

/* Remove extra left and right margins, due to padding in columns */
.edu.row {
  width: 100%;
  margin: auto;
  display: flex;
}

.overlay h1 {
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  margin-left: 5px;
  color: #FFFFFF;
  overflow-wrap: break-word;
  font-weight: 900;
  font-size: 2em;
}

.overlay h2 {
  margin: auto;
  margin-left: 5px;
  word-wrap: break-word;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5em;

}

.overlay img {
  width: 10%;
  margin-left: 15%;
  margin-right: 5%;
}

/* Clear floats after the columns */
.edu.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 8px;
  text-align: center;
  height: 100%;
  background-color: #FFFFFF;
}

.card h3 {
  font-weight: bold;
  color: #785EF0;
  text-align: left;
  margin-left: 10px;
  transition: all 1.5s;
  text-decoration: none;
}

.card p {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card strong {
  color: #785EF0;
  font-weight: 700;
}

.highlight-card {
	background-image: linear-gradient(#785Ef0, #785Ef0);
	background-repeat: no-repeat;
	background-position: 0% 100%;
  background-size: 100% 2px;
	transition: background-size 1s, background-position .5s ease-in .5s;
}

.card:hover .highlight-card {
	background-size: 100% 100%;
  background-position: 0% 0%;
  color: white;
	transition: color 1.5s, background-position 1s, background-size .5s ease-in .5s;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
  .edu.column {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  .edu.row {
    content: "";
    display: table;
    clear: both;
  }
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.90);
  color: white;
  text-align: center;
  z-index: 999;
}

.footer p {
  margin: auto;
  vertical-align: middle;
}

/* Section Dividers */
.divider.row{
  width:100%;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}
/* -- SVG CSS -- */

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}

/* Miscellaneous */
.sectionTitle {
  color: white;
  text-align: center;
  margin: auto;
  position: absolute;
  width: 100%;
  padding: 10px;
  font-size: var(--text-xxl,2.074em);
  /* margin-bottom: 5px; */
}