/*This file is for my own personal styling for the website*/

h1 {
  font-family: "Avenir Next", Lato, sans-serif;
  font-size: 75px;

}

.home {
  height: 100vh;

}

canvas {
  height: 100vh;
  width: 100vw;
  display: block;
}
