/*This file is for my own personal styling for the website*/

h1 {
  font-family: "Avenir Next", Lato, sans-serif;
  font-size: 10vw;
}

h2 {
  font-family: "Avenir Next", Lato, sans-serif;
  font-size: 3vw;
}

section {
  height: 100vh;
  width: 100vw;
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin: auto;
}

.title {
  text-align: center;
  margin: auto;
}
