body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header p1 {
  padding: 0 20px;
  margin: 0;
  font-size : 20px;
}

.jumbotron1 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/iShadow/Downloads/33390789801_febc8ffc2c_k.jpg');
  background-size: cover;
  color: #FFFFFF;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron2 {
  display: flex;
  align-items: center;
  background-image: url('https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/16665502_1916783625218780_3335004036170195679_o.jpg?oh=b31675ca479453cd732a7065d717515b&oe=59E610F5');
  background-size: cover;
  color: #FFFFFF;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


.jumbotron h2 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #F85C5C;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #F85C5C;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #F85C5C;
  margin: 0 0 30px;
}

.btn.btn-secondary:hover {
  background-color: #E8DFE0;
  color: #ffffff;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
