/*This file is for my own personal styling for the website*/

/* In case you want to do some cool parallax stuff https://www.superhi.com/video/hooking-up-page-scrolling-with-fading-with-javascript*/
/* Replace all vw's and vh's with %'s */

/* General */
h1 {
  font-family: "Proxima Nova", Lato;
}

h2 {
  font-family: "Proxima Nova", Lato;
}


h3 {
  font-family: "Proxima Nova", Lato;
}

p {
  font-family: "Proxima Nova", Lato;
}

body {
  opacity: 1;
  transition: 1.5s opacity;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
  transition: .1s;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

html {
  max-height: 100vh; /* keep */
  max-width: 100vw; /* keep */
  background-color: #000000;
}

section {
  width: 100vw; /* keep */
  height: 100vh;
  display: flex;
  margin: auto;
}

@media screen and (max-height: 700px) {
  section {
    height: 700px;
  }
}

@media screen and (max-width: 375px) {
  section {
    width: 375px;
  }
}


a {
  font-family: "Proxima Nova", Lato;
  text-decoration: none;
}

.title {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Navigation Bar */

.logo {
  position: fixed;
  float: left;
  padding: 16px 36px;
  color: #fff;
}


.socialmedia {
  position: fixed;
  float: right;
  right: 0px;
  padding: 10px 36px;
  top: 1em;
  color: #fff;
}

.imgLogo {
  height: 35px;
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 1s;
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  margin: 0;
}

nav.black {
  background: rgba(0, 0, 0, 0.90);
}

nav.black ul li a:hover {
  text-decoration: none;
  color: #785EF0;
  font-weight: 550;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a, nav ul li a:active, nav ul li a:visited, nav ul li a:focus {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: none;
  color: #785EF0;
  font-weight: 550;
}

.menu {
  font-size: 20px;
  color: #fff;
}

.fa-1x {
  color: #fff;
}

a.black:hover i:hover {
  color: #785EF0;
}

a:hover i:hover {
  color: #785EF0;
}

.socialmedia a {
  margin: 7px;
  text-align: center;
  text-decoration: none;
}

.menu-icon {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}


@media(max-width: 900px) {
  .logo {
    position: fixed;
    top: 0;
    padding: 8px;
  }

  .socialmedia {
    position: fixed;
    float: right;
    left: 2.5em;
    top: .75em;
    right: auto;
    color: #fff;
    padding: 8px;
  }

  nav ul {
    max-height: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: 1s;
  }

  .showing {
    max-height: 40em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

/* Focus on Home Section */

.home {
  background-color: #000000;
}

.arrow {
  text-align: center;
  font-size: 3vh;
  color: white;
}

.scrollDown h2 {
  font-size: 3vh;
  margin-bottom: 2.5%;
  color: white;
}

@media(max-width: 800px) {
  .scrollDown h2 {
    margin-bottom: 6%;
  }
}

.landing {
  width: 100%;
  height: 100%;
  position: relative;
}

#particles-js {
  height: 100%;
  width: 100%;
}

#scroll {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#name {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 20%;
  height: 0%;
  margin-top: -10%;
  overflow: visible;
}

.home svg {
  top: -50%;
}

/* About Section */

.about {
  background-position: center top;
  margin: auto;
  position: relative;
  background-image: url("../assets/zahanat.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.aboutPage {
  width: 90%;
  background-color: rgba(0,0,0,.9);
  position: absolute;
  top: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.selfportrait {
  height: 200px;
  width: 200px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.aboutPage h1 {
  color: white;
}

.aboutPage h2 {
  font-size: calc(15px + 2vw);
  color: white;

}

.aboutPage p {
  font-size: calc(10px + 1vw);
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

strong {
  font-weight: 600;
}

.btn {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  padding: 10px 15px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: calc(15px + 1vw);
  letter-spacing: 3px;
  color: #fff;
}

.btn:visited {
  color: #fff;
}

.btn:hover {
  color: black;
  background-color: white;
}


/* Experience Section */

#experienceSection {
  background-color: #785EF0;
  position: relative;
  height: 100%;
  overflow: visible;
}

/* Refer to timeline.css for more info */

/* Portfolio Section */

#portfolioSection {
  background-color: #000;
  position: relative;
  height: 100%;
  overflow: visible;
}

/* Center website */
.main {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

#portfolioSection .row {
  margin: 50px auto 10vw auto;
  width: 95%;
}

/* Add padding BETWEEN each column (if you want) */
#portfolioSection .row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
#portfolioSection .column {
  float: left;
  width: calc(100%/3);
}

.after {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 12px;
}

.after a {
  font-size: 100%;
  font-weight: bold;
}

.content:hover .img {
  opacity: 0.3;
}

.content:hover .iframe {
  opacity: 0.3;
}

.after .btn {
  margin: 0;
  padding: 8px;
}

.after {
  width: 101%;
  height: 101%;
  background-color: rgba(255, 255, 255,0.9);
}

.after h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  color: #000000;
}

.after p {
  font-size: 1vw;
  color: rgba(48, 62, 74,1);
}

.after.special p {
  font-size: .95vw;
}

.content:hover .after {
  opacity: 1;
}
/* Clear floats after rows */
#portfolioSection .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  position: relative;
  padding: 10px;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.content img {
  max-width: 100%;
  height: 20vw;
}

.content iframe {
  max-width: 100%;
  min-width: 25vw;
  height: 20vw;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen 
and (max-device-width : 1024px)  {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }

}

@media only screen 
and (max-width : 600px)  {
  .content img {
    max-width: auto;
    min-height: 60vw;
    height: auto;
    width: 100%;
  }
  
  .content iframe {
    max-width: auto;
    min-height: 60vw;
    height: auto;
    width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  #portfolioSection .column {
    width: 50%;
  }

  .content img {
    max-width: auto;
    height: 35vw;
    width: 100%;
  }
  
  .content iframe {
    max-width: auto;
    height: 35vw;
    width: 100%;
  }

  .after p {
    font-size: 1.5vw;
  }

  .after.special p {
    font-size: 1.5vw;
  }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #portfolioSection .column {
    width: 100%;
  }

  .content img {
    max-width: auto;
    height: auto;
    width: 100%;
  }
  
  .content iframe {
    max-width: auto;
    height: auto;
    width: 100%;
  }

  .after p {
    font-size: 3vw;
  }

  .after.special p {
    font-size: 2.9vw;
  }
  
}

/* Education Section */

#educationSection {
  background-color: #003262;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  padding: 30px;
}

/* Float two columns side by side */
.edu.column {
  flex: 1;
  float: left;
  width: 50%;
  padding: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.edu.row {
  width: 90%;
  margin: auto;
  display: flex;
}

.overlay h1 {
  margin: auto;
  margin-left: 6%;
  color: #FDB515;
  overflow-wrap: break-word;
  font-weight: 900;
  font-size: 2em;
}

.overlay h2 {
  margin: auto;
  margin-left: 6%;
  color: #FDB515;
  font-weight: 500;
  font-size: 1.5em;

}

.overlay img {
  width: 10%;
  margin-left: 15%;
  margin-right: 5%;
}

/* Clear floats after the columns */
.edu.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 8px;
  text-align: center;
  height: 100%;
  background-color: #f1f1f1;
}

.card h3 {
  font-weight: bold;
  color: #3b7ea1;
}

.card strong {
  color: #3b7ea1;
  font-weight: 700;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
  .edu.column {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  .edu.row {
    content: "";
    display: table;
    clear: both;
  }
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.90);
  color: white;
  text-align: center;
  z-index: 999;
}

/* Section Dividers */
.divider.row{
  width:100%;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}
/* -- SVG CSS -- */

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}