@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.subsection {
  margin-top: 2vw;
}

.navListItemText {
  text-decoration: underline solid;
  transition: text-decoration .5s ease;
  text-underline-offset: 5px;
  margin: 5px 0px 5px 0px;
}

.navListItemText:hover {
  text-decoration: underline solid transparent;
}

.portraitTrigger {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
  text-underline-offset: 5px;
  cursor: pointer;
}

.portraitTrigger:hover {
  text-decoration: underline solid;
}

.portrait {
  border-radius: 50%;
  border: 0px solid #000;
  background-color: white;
  width: 100%;
  height: auto;
  margin: auto;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}