.jumbotron {
  background-color: #121212;
}

.basic_rules {
  background-color: #121212;
  color: white;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

a:link,
a:visited {
  color: #876ff1;
  text-decoration: underline;
}

.container-fluid {
  border-radius: 75px;
}

.daily_project {
  width: 100%;
  border-radius: 5px;
}
